body {
    min-width: 1024px;
    background-color: blanchedalmond;
    min-height: 1024px;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    display: flex;
    flex-direction: row;
    height: 76px;
    margin-top: 3%;
}

.logo1 {
    float: left;
    margin-left: 3%;
    width: 10%;
    height: 100%;
    margin-right: 3%;
    object-fit: contain;
}
.logo2 {
    width: 100%;
    height: 100%;
}

.cart {
    border-radius: 10%;
    float: right;
    height: 80%;
    margin-top: auto;
    margin-right: 3%;
    margin-bottom: auto;
    clear: none;
    background-color: burlywood;
    object-fit: contain;
    outline-width: 2px;
    outline-color: black;
    outline-style: solid;
}
.cart:hover {
    background-color: rgb(175, 144, 104);
}
.cart-pic {
    float: right;
    min-width: 5%;
    height: 100%;
    clear: none;
    object-fit: contain;
}

.inp {
    float: left;
    box-sizing: border-box;
    margin-top: 1.25%;
    height: 50%;
    font-size: 200%;
    width: 70.5%;
    font-family: 'Courier New', Courier, monospace;
    border-top-color: darkred;
    border-bottom-color: darkred;
    border-left-color: darkred;
    border-right-style: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.clicky {
    float: left;
    height: 50%;
    min-width: 2.5%;
    margin-top: 1.25%;
    margin-right: 3%;
    border-left-width: 3px;
    border-color: darkred;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

h1 {
    margin-top: 3%;
}

h2 {
    clear: both;
    margin: 30px;
    text-decoration: underline;
    text-align: center;
}

.listing {
    display: flex;
    flex-direction: row;
    height: 300px;
}

.product-box {
    clear: left;
    width: 20%;
    height: 90%;
    object-fit: contain;
    margin-right: 2%;
    margin-left: 2%;
    outline-style: solid;
    border-radius: 1%;
    outline-color: darkred;
    margin-top: 1%;
    transition: 200ms;
    letter-spacing: -1px;
}

.product-box:hover {
    height: 100%;
    width: 24%;
    margin: 0%;
}

.leftMost {
    margin-left: 4%;
}
.leftMost:hover {
    margin-left: 2%;
}

.products {
    max-height: 78%;
    margin-bottom: 2%;
    overflow: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.product-desc {
    clear: left;
    height: 20%;
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    outline-style: solid;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
    outline-color: darkred;
}

.coffeeLore {
    margin-top: 0px;
    margin-bottom: 0px;
}

.name {
    margin-top: 1%;
    margin-left: 2%;
    font-size: 110%;
    max-width: 78%;
    font-weight: bold;
}
.lore-sub1 {
    max-width: 75%;
}
.lore-sub2 {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 2%;
    margin-left: auto;
    margin-top: 1%;
}

.price-now {
    font-size: 140%;
    color: darkred;
    font-weight: bold;
    z-index: 3;
}
.price {
    font-size: 130%;
    text-decoration: line-through;
}
.linkki {
    text-decoration: none;
    z-index: 2;
    color: #000;
}